---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row" id="projects">
        <Topic title="Encuentra tu perfil" description="" />
    </div>

    <div
        class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
    >
        <div
            class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
        >
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    Para personas dedicadas a cuidar su salud con el consumo de
                    constante de frutas.
                </div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        Saber mas
                    </div>
                    <img src="/services/agc.svg" alt="arrow" />
                </div>
            </div>
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    Para personas con enfermedades congenitas, que desean
                    empezar a consumir frutas para mejorar su salud.
                </div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        Saber mas
                    </div>
                    <img src="/services/agc.svg" alt="arrow" />
                </div>
            </div>
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    Para deportistas con dietas estrictas que requieren consumos
                    periodicos de frutas de calidad.
                </div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        Saber mas
                    </div>
                    <img src="/services/agc.svg" alt="arrow" />
                </div>
            </div>
        </div>

        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    </div>
</Container>
